body {
  background-color: white;
  box-sizing: border-box;
}
.navbar {
  margin-top: 40px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upgrade {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: whitesmoke;
  width: 120px;
  height: 100px;
  padding: 10px;
  margin-left: 55px;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: black;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* @media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
    width: 100px;
  }
  #main {
    margin-left: 100px;
  }
  .sidenav a {
    font-size: 18px;
  }
} */
#main {
  /* transition: 250px 0.5s; */
  margin-left: 250px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.left {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 20px;
}

.right {
  padding: 20px;
  background-color: whitesmoke;
}
.card-list {
  margin: 5px;
  margin-top: 10px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* overflow-x: scroll; */
}

/* .card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} */
/* .card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
} */

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 300px;
  width: 350px;
  padding: 1.3rem;
  margin: 10px;
  border-radius: 16px;
  background: #c9c1d8;

  box-shadow: -1rem 0 3rem rgb(201, 189, 189);

  transition: 0.2s;
}
.card:hover {
  transform: translateY(-0.5rem);
  -webkit-box-shadow: -1px 0px 51px -3px rgba(175, 130, 191, 1);
  -moz-box-shadow: -1px 0px 51px -3px rgba(175, 130, 191, 1);
  box-shadow: -1px 0px 51px -3px rgba(175, 130, 191, 1);
}
.card:hover ~ .card {
  transform: translateX(45px);
}

.card:not(:first-child) {
  margin-left: -130px;
}
.card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.author-avatar img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin: 16px 10px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
}
.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}
